[Unit]
Description=Welcome Message
After=multi-user.target systemd-logind.service

[Service]
# Load device tree overlay
ExecStart=/usr/bin/sh -c '/usr/bin/echo "Welcome to the SoCks Raspberry Pi 4 example project! This message was printed by a systemd service." > /dev/kmsg'
Type=oneshot

[Install]
WantedBy=multi-user.target

